@import "../../assets/css/index.css";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  max-width: var(--div-max-size);
  width: 100%;
}
